@model IEnumerable<CentralEstagios.Models.Candidato>

@{
    ViewBag.Title = "Candidatos";
}

<h2>Candidatos</h2>

<table>
    <tr>
        <th>
            Empresa
        </th>
        <th>
            Vaga
        </th>
        <th>
            RM
        </th>
        <th>
            Candidato
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ValueFor(modelItem => item.Vaga.Empresa)
            </td>
            <td>
                @Html.ValueFor(modelItem => item.Vaga.Descricao)
            </td>
            <td>
                @Html.ValueFor(modelItem => item.Perfil.LoginRm)
            </td>
            <td>
                @Html.ValueFor(modelItem => item.Perfil.Nome)
            </td>
            <td>
                @*@Html.ActionLink("Details", "Details", new { id = item.VagaId })*@
            </td>
        </tr>
    }

</table>

<br />

@Html.ActionLink("Voltar", "Index", "Vaga")
