@model CentralEstagios.Models.ConhecimentoCurso

@{
    ViewBag.Title = "Editar Conhecimento";
}

<h2>Editar Conhecimento</h2>

<br />

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Conhecimento</legend>

        @Html.HiddenFor(model => model.Conhecimento.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Conhecimento.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Conhecimento.Descricao)
            @Html.ValidationMessageFor(model => model.Conhecimento.Descricao)
        </div>

        @for (int i = 0; i < Model.Cursos.Count(); i++)
        {
            <div class="editor-label">
                @Html.ValueFor(item => item.Cursos[i].Descricao)
                @Html.HiddenFor(item => item.Cursos[i].Id)
                @Html.HiddenFor(item => item.Cursos[i].Status)
                @Html.HiddenFor(item => item.Cursos[i].Descricao)
            </div>
            <div class="editor-field">
                @Html.CheckBoxFor(model => model.Cursos[i].EstaSelecionado)
                @Html.ValidationMessageFor(model => model.Cursos[i].EstaSelecionado)
            </div>
        }

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
